{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-heading"><i class="fa fa-cog"></i> Mine - Level : {{ mine.level }}</div>
                        <ul class="list-group">
                          <li class="list-group-item">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th><i class="fa fa-cubes"></i> Carbon</th>
                                        <th><i class="fa fa-flask"></i> Methane</th>
                                        <th><i class="fa fa-cloud"></i> Hydrogen</th>
                                        <th><i class="fa fa-diamond"></i> Diamond</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Stock</td>
                                        <td>{{ mine.r1|round }}</td>
                                        <td>{{ mine.r2|round }}</td>
                                        <td>{{ mine.r3|round }}</td>
                                        <td> - </td>
                                    </tr>
                                    <tr>
                                        <td>Production</td>
                                        <td>{{ mine.prodR1PerHour|round(1) }} / h</td>
                                        <td>{{ mine.prodR2PerHour|round(1) }} / h</td>
                                        <td>{{ mine.prodR3PerHour|round(1) }} / h</td>
                                        <td> - </td>
                                    </tr>
                                </tbody>
                            </table>
                          </li>
                          <li class="list-group-item"><a class="btn btn-default btn-xs" href="#" role="button">Upgrade</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">History</div>

            </div>
        </div>
    </div>
{% endblock %}
