{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Eco4 Game</h1>
            </div>

            <div id="status">
                <p>
                    Mines List :
                </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Level</th>
                <th>R1</th>
                <th>R2</th>
                <th>R3</th>
                <th>Last update</th>
                <th>R1 Factor</th>
                <th>R2 Factor</th>
                <th>R3 Factor</th>
            </tr>
        </thead>
        <tbody>
        {% for mine in mines %}
            <tr>
                <td>{{ mine.id }}</td>
                <td>{{ mine.level }}</td>
                <td>{{ mine.r1|round }}</td>
                <td>{{ mine.r2|round }}</td>
                <td>{{ mine.r3|round }}</td>
                <td> {{ mine.lastUpdate|localizeddate('medium', 'medium') }} </td>
                <td>{{ mine.r1Factor }}</td>
                <td>{{ mine.r2Factor }}</td>
                <td>{{ mine.r3Factor }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" align="center">No mine found</td>
           </tr>
        {% endfor %}
        </tbody>
    </table>
            </div>

        </div>
    </div>
{% endblock %}
